generating_image filter=lfs diff=lfs merge=lfs -text
/Users/jusuha/Documents/GitHub/Image-description-creator filter=lfs diff=lfs merge=lfs -text
/Users/jusuha/Desktop/Image-description-creator filter=lfs diff=lfs merge=lfs -text
